html, body, .container-table {
  font-size: 18px;
  height: 100%;
}

.container-table {
   display: table;
}

.vertical-center-row {
   display: table-cell;
   vertical-align: middle;
}

.content {
  display: none;
  height: 0px;
  opacity: 0;
}
